.heading-leave {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

#title {
  text-align: center;
}

#pending {
  border-collapse: collapse;
  border: 3px solid #ddd;
  margin-left: 400px;
}

#pending td,
#pending th {
  border: 1px solid #ddd;
  padding: 12px;
}

#pending tr:hover {
  background-color: #ddd;
}

#pending th {
  padding: 10px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.opration {
  text-align: center;
}

.button {
  border: none;
  outline: none;
  font-size: 11px;
  font-family: "Quicksand", sans-serif;
  color: #f44336;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f44336;
  background-color: transparent;
}

.button:active {
  border: 1px solid blue;
}
