.user-exam {
  padding: 0 20px 10px 0px !important;
}
.user-text2 {
  width: 240px;

  margin-left: 70px;

  font-size: 30px !important;
}
#user-exam {
  border-collapse: collapse;
  width: 800px !important;
  margin-left: 80px;
}
.col-table {
  margin-bottom: 40px !important;
}

#user-exam td,
#user-exam th {
  border: 1px solid #ddd;
  padding: 25px 45px;
  font-family: "Jost", sans-serif;
}

#user-exam tr:hover {
  background-color: #ddd;
}

#user-exam th {
  padding: 10px;
  text-align: center;
  background-color: #64aeda;
  color: white;
  font-family: "Jost", sans-serif;
}
.live-code {
  width: 10px !important;
}

.operation {
  text-align: center;
}
.details-btn {
  width: 0px !important;
}
.live-icon {
  margin-right: 4px !important;
  width: 20px !important;
  height: 20px !important;
  margin-bottom: 2px !important;
}
.live-name {
  width: 25%;
}

.button {
  border: none;
  outline: none;
  font-size: 11px;
  font-family: "Jost", sans-serif;
  color: #f44336;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f44336;
  background-color: transparent;
  width: 100px;
}

.button:active {
  border: 1px solid blue;
}

.create-exam {
  margin-bottom: 40px;
  padding: 0;
  margin-left: 120px;
  margin-right: 120px;

  margin-top: 30px;

  height: 72px;
}

.exam-card-title {
  margin-bottom: 40px !important;
  font-family: "Jost", sans-serif;
}

.btn-secondary-icon {
  border-radius: 50px !important;
  margin-left: 70px !important;
  margin-right: 70px;
}

.arrow-icn {
  margin-bottom: 4px;
  color: black;
}

.arrow-icon {
  width: 20px !important;
  height: 20px !important;
  margin-left: 3px;
}
