.tableleave {
  margin-top: 50px;
  margin-right: 500px;
  margin-left: 500px;
}

.custom-leave-row {
  padding-top: 5px;
  padding-bottom: 10px;
}

.custom-leave-header {
  padding-top: 10px;
  padding-bottom: 8px;
}
