#header-front {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header-front.header-scrolled,
#header-front.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}

#header-front .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header-front .logo a {
  color: #fff;
}

#header-front .logo img {
  max-height: 40px;
}

.get-started-btn-front {
  margin-left: 25px;
  color: #fff !important;
  border-radius: 50px;
  padding: 6px 25px 7px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: 2px solid #47b2e4;
  font-weight: 600;
}
.get-started-btn-front:hover {
  background: #31a9e1;
  color: #fff;
}
@media (max-width: 768px) {
  .get-started-btn-front {
    margin: 0 48px 0 0;
    padding: 6px 20px 7px 20px;
  }
}

#hero-frnt {
  width: 100%;
  height: 100%;
  background: #37517e;
  padding-bottom: 163px;
  padding-top: 90px;
}

#hero-frnt .container {
  padding-top: 72px;
}

#hero-frnt h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero-frnt h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero-frnt .btn-get-started {
  font-family: "Jost", sans-serif;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #47b2e4;
}

.row-student {
  padding-right: 50px;
}

.login-button-frnt {
  padding-left: 120px;
}

#hero-frnt .animated-frnt {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
