@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Jost:wght@500&display=swap");
#header-front {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header-front.header-scrolled,
#header-front.header-inner-pages {
  background: rgba(40, 58, 90, 0.9);
}

/* #header-front .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #5b6d5b;
} */
/* 
#header-front .logo img {
  max-height: 40px;
} */

.get-started-btn {
  font-family: "Jost", sans-serif;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 0 11px 0px;
  border-radius: 50px !important;
  transition: 0.5s;
  color: #fff;
  margin-top: 20px;
  background: #383e56;
  margin-left: 20px;
}
.get-started-btn:hover {
  background: #0283ce !important;
  color: #fff;
}
@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 20px 7px 20px;
  }
}

#hero {
  width: 100%;
  height: 100%;
  background: rgb(190, 217, 231);
  padding-bottom: 133px;
  padding-top: 90px;
  background-image: url(../../img/icons/common/resul-mentes-DbwYNr8RPbg-unsplash.jpg) !important;
}

#hero .quote {
  width: 300px;
}

#hero .img-animate {
  animation: up-down 2s ease-in-out infinite alternate-reverse both !important;
}

#hero .container {
  padding-top: 60px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 100px;
  font-weight: 500;
  line-height: 56px;
  color: black;
  line-height: 1.2em;
  letter-spacing: 2px;
  font-family: "Caveat", cursive;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}

.btn-get-started {
  font-family: "Jost", sans-serif;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 0 11px 0px;
  border-radius: 50px !important;
  transition: 0.5s;
  color: #fff;
  margin-top: 20px;
  background: #383e56;
}
.btn-get-started:hover {
  background: #0283ce !important;
  color: #fff;
}

.row-student {
  padding-right: 50px;
}

.login-button {
  padding-left: 60rem;
}
