.attendance {
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 60px;
}
.attendance-link {
  padding-top: 15px;
}
.font-attend {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding-left: 180px;
}
