.search-form {
  width: 60%;
  margin-left: 20rem;
}
.upload-section {
  display: flex;
  height: 100px;
  margin-bottom: 20px;
  margin-left: 7.9rem;
}

.drop-zone {
  margin-bottom: 20px;
  padding: 40px 10px;
  height: inherit;
  border: 2px dashed #e9ebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40rem;
}

.image-preview {
  height: inherit;
  margin-left: 5%;
}

.preview-image {
  width: 100%;
  height: inherit;
  display: block;
  margin-bottom: 10px;
}

.preview-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.notes-value {
  margin-right: 30rem;
}
.notes-input {
  width: 70% !important;
  margin-left: 8rem;
}
